{% extends "base.html" %}
{% load static %}
{% block TITLE %}HOME{% endblock %}
{% block LINKS %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/open-iconic-bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery.timepicker.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endblock %}
{% block CONTENT %}
<body class="goto-here">
	<div class="py-1 bg-black">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						<span class="text">+ 1235 2355 98</span>
					</div>
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						<span class="text">youremail@email.com</span>
					</div>
					<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						<span class="text">3-5 Business days delivery &amp; Free Returns</span>
					</div>
				</div>
			</div>
		</div>
	  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
	  <a class="navbar-brand" href="index.html">Minishop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="oi oi-menu"></span> Menu
	  </button>

	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
		  <li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown04">
			  <a class="dropdown-item" href="shop.html">Shop</a>
			<a class="dropdown-item" href="product-single.html">Single Product</a>
			<a class="dropdown-item" href="cart.html">Cart</a>
			<a class="dropdown-item" href="checkout.html">Checkout</a>
		  </div>
		</li>
		  <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
		  <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
		  <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
		  <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

		</ul>
	  </div>
	</div>
  </nav>
<!-- END nav -->

<section id="home-section" class="hero">
	  <div class="home-slider owl-carousel">
	  <div class="slider-item js-fullheight">
		  <div class="overlay"></div>
		<div class="container-fluid p-0">
		  <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
			  <img class="one-third order-md-last img-fluid" src="{% static 'assets/images/bg_1.png' %}" alt="">
			  <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				  <div class="text">
					  <span class="subheading">#New Arrival</span>
					  <div class="horizontal">
						<h1 class="mb-4 mt-3">Shoes Collection 2019</h1>
						<p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
						
						<p><a href="#" class="btn-custom">Discover Now</a></p>
					  </div>
				</div>
			  </div>
			</div>
		</div>
	  </div>

	  <div class="slider-item js-fullheight">
		  <div class="overlay"></div>
		<div class="container-fluid p-0">
		  <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
			  <img class="one-third order-md-last img-fluid" src="{% static 'assets/images/bg_2.png' %}" alt="">
			  <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				  <div class="text">
					  <span class="subheading">#New Arrival</span>
					  <div class="horizontal">
						<h1 class="mb-4 mt-3">New Shoes Winter Collection</h1>
						<p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
						
						<p><a href="#" class="btn-custom">Discover Now</a></p>
					  </div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters ftco-services">
	  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services p-4 py-md-5">
		  <div class="icon d-flex justify-content-center align-items-center mb-4">
				<span class="flaticon-bag"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Free Shipping</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		  </div>
		</div>      
	  </div>
	  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services p-4 py-md-5">
		  <div class="icon d-flex justify-content-center align-items-center mb-4">
				<span class="flaticon-customer-service"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Support Customer</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		  </div>
		</div>    
	  </div>
	  <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services p-4 py-md-5">
		  <div class="icon d-flex justify-content-center align-items-center mb-4">
				<span class="flaticon-payment-security"></span>
		  </div>
		  <div class="media-body">
			<h3 class="heading">Secure Payments</h3>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
		  </div>
		</div>      
	  </div>
	</div>
		</div>
	</section>

<section class="ftco-section bg-light">
	<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
	  <div class="col-md-12 heading-section text-center ftco-animate">
		<h2 class="mb-4">New Shoes Arrival</h2>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
	  </div>
	</div>   		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-1.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						<div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-2.png' %}" alt="Colorlib Template">
						<span class="status">50% Off</span>
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-3.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-4.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-5.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						<div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-6.png' %}" alt="Colorlib Template">
						<span class="status">50% Off</span>
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-7.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-8.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-1.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						<div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-2.png' %}" alt="Colorlib Template">
						<span class="status">50% Off</span>
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-3.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-4.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-5.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						<div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product d-flex flex-column">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-6.png' %}" alt="Colorlib Template">
						<span class="status">50% Off</span>
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-7.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{% static 'assets/images/product-8.png' %}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3">
						<div class="d-flex">
							<div class="cat">
								<span>Lifestyle</span>
							</div>
							<div class="rating">
								<p class="text-right mb-0">
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
									<a href="#"><span class="ion-ios-star-outline"></span></a>
								</p>
							</div>
						</div>
						<h3><a href="#">Nike Free RN 2019 iD</a></h3>
						  <div class="pricing">
							<p class="price"><span>$120.00</span></p>
						</div>
						<p class="bottom-area d-flex px-3">
							<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
	<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-4">
					<div class="choose-wrap divider-one img p-5 d-flex align-items-end" style="background-image: url({% static 'assets/images/choose-1.jpg' %});">

					<div class="text text-center text-white px-2">
							<span class="subheading">Men's Shoes</span>
						<h2>Men's Collection</h2>
						<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
					</div>
				</div>
				</div>
				<div class="col-lg-8">
				<div class="row no-gutters choose-wrap divider-two align-items-stretch">
					<div class="col-md-12">
						<div class="choose-wrap full-wrap img align-self-stretch d-flex align-item-center justify-content-end" style="background-image: url({% static 'assets/images/choose-2.jpg' %});">
							<div class="col-md-7 d-flex align-items-center">
								<div class="text text-white px-5">
									<span class="subheading">Women's Shoes</span>
									<h2>Women's Collection</h2>
									<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="row no-gutters">
							<div class="col-md-6">
								<div class="choose-wrap wrap img align-self-stretch bg-light d-flex align-items-center">
									<div class="text text-center px-5">
										<span class="subheading">Summer Sale</span>
										<h2>Extra 50% Off</h2>
										<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
										<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="choose-wrap wrap img align-self-stretch d-flex align-items-center" style="background-image: url({% static 'assets/images/choose-3.jpg' %});">
									<div class="text text-center text-white px-5">
										<span class="subheading">Shoes</span>
										<h2>Best Sellers</h2>
										<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
										<p><a href="#" class="btn btn-black px-3 py-2">Shop now</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
	</div>
</section>

<section class="ftco-section ftco-deal bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'assets/images/prod-1.png' %}" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<div class="heading-section heading-section-white">
					<span class="subheading">Deal of the month</span>
			<h2 class="mb-3">Deal of the month</h2>
		  </div>
				<div id="timer" class="d-flex mb-4">
					  <div class="time" id="days"></div>
					  <div class="time pl-4" id="hours"></div>
					  <div class="time pl-4" id="minutes"></div>
					  <div class="time pl-4" id="seconds"></div>
					</div>
					<div class="text-deal">
						<h2><a href="#">Nike Free RN 2019 iD</a></h2>
						<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
						<ul class="thumb-deal d-flex mt-4">
							<li class="img" style="background-image: url({% static 'assets/images/product-6.png' %});"></li>
							<li class="img" style="background-image: url({% static 'assets/images/product-2.png' %});"></li>
							<li class="img" style="background-image: url({% static 'assets/images/product-4.png' %});"></li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
	<div class="row">
		<div class="col-lg-5">
			<div class="services-flow">
				<div class="services-2 p-4 d-flex ftco-animate">
					<div class="icon">
						<span class="flaticon-bag"></span>
					</div>
					<div class="text">
						<h3>Free Shipping</h3>
						<p class="mb-0">Separated they live in. A small river named Duden flows</p>
					</div>
				</div>
				<div class="services-2 p-4 d-flex ftco-animate">
					<div class="icon">
						<span class="flaticon-heart-box"></span>
					</div>
					<div class="text">
						<h3>Valuable Gifts</h3>
						<p class="mb-0">Separated they live in. A small river named Duden flows</p>
					</div>
				</div>
				<div class="services-2 p-4 d-flex ftco-animate">
					<div class="icon">
						<span class="flaticon-payment-security"></span>
					</div>
					<div class="text">
						<h3>All Day Support</h3>
						<p class="mb-0">Separated they live in. A small river named Duden flows</p>
					</div>
				</div>
				<div class="services-2 p-4 d-flex ftco-animate">
					<div class="icon">
						<span class="flaticon-customer-service"></span>
					</div>
					<div class="text">
						<h3>All Day Support</h3>
						<p class="mb-0">Separated they live in. A small river named Duden flows</p>
					</div>
				</div>
			</div>
		</div>
	  <div class="col-lg-7">
		  <div class="heading-section ftco-animate mb-5">
			<h2 class="mb-4">Our satisfied customer says</h2>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
		  </div>
		<div class="carousel-testimony owl-carousel">
		  <div class="item">
			<div class="testimony-wrap">
			  <div class="user-img mb-4" style="background-image: url({% static 'assets/images/person_1.jpg' %})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text">
				<p class="mb-4 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<p class="name">Garreth Smith</p>
				<span class="position">Marketing Manager</span>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap">
			  <div class="user-img mb-4" style="background-image: url({% static 'assets/images/person_2.jpg' %})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text">
				<p class="mb-4 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<p class="name">Garreth Smith</p>
				<span class="position">Interface Designer</span>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap">
			  <div class="user-img mb-4" style="background-image: url({% static 'assets/images/person_3.jpg' %})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text">
				<p class="mb-4 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<p class="name">Garreth Smith</p>
				<span class="position">UI Designer</span>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap">
			  <div class="user-img mb-4" style="background-image: url({% static 'assets/images/person_1.jpg' %})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text">
				<p class="mb-4 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<p class="name">Garreth Smith</p>
				<span class="position">Web Developer</span>
			  </div>
			</div>
		  </div>
		  <div class="item">
			<div class="testimony-wrap">
			  <div class="user-img mb-4" style="background-image: url({% static 'assets/images/person_1.jpg' %})">
				<span class="quote d-flex align-items-center justify-content-center">
				  <i class="icon-quote-left"></i>
				</span>
			  </div>
			  <div class="text">
				<p class="mb-4 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<p class="name">Garreth Smith</p>
				<span class="position">System Analyst</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</section>

<section class="ftco-gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
		<h2 class="mb-4">Follow Us On Instagram</h2>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
	  </div>
		</div>
	</div>
</section>

<footer class="ftco-footer ftco-section">
  <div class="container">
	  <div class="row">
		  <div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
	  </div>
	<div class="row mb-5">
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4">
		  <h2 class="ftco-heading-2">Minishop</h2>
		  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
		  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
			<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		  </ul>
		</div>
	  </div>
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4 ml-md-5">
		  <h2 class="ftco-heading-2">Menu</h2>
		  <ul class="list-unstyled">
			<li><a href="#" class="py-2 d-block">Shop</a></li>
			<li><a href="#" class="py-2 d-block">About</a></li>
			<li><a href="#" class="py-2 d-block">Journal</a></li>
			<li><a href="#" class="py-2 d-block">Contact Us</a></li>
		  </ul>
		</div>
	  </div>
	  <div class="col-md-4">
		 <div class="ftco-footer-widget mb-4">
		  <h2 class="ftco-heading-2">Help</h2>
		  <div class="d-flex">
			  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
				<li><a href="#" class="py-2 d-block">Shipping Information</a></li>
				<li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
				<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
				<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
			  </ul>
			  <ul class="list-unstyled">
				<li><a href="#" class="py-2 d-block">FAQs</a></li>
				<li><a href="#" class="py-2 d-block">Contact</a></li>
			  </ul>
			</div>
		</div>
	  </div>
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Have a Questions?</h2>
			<div class="block-23 mb-3">
			  <ul>
				<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
				<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
				<li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
			  </ul>
			</div>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12 text-center">

		<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
	  </div>
	</div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% block SCRIPTS %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.j' %}s"></script>
<script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'assets/js/google-map.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
</body>
{% endblock %}