<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block TITLE %}{% endblock %}</title>
    {% block LINKS %}{% endblock %}
</head>
    {% block CONTENT %}
    {% block SCRIPTS %}
    {% endblock %}
    {% endblock %}
</html>